QPushButton {
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

QTableWidget {
    background-color: #F8F9FA;
    border: 1px solid #CED4DA;

}

QHeaderView::section {
    background-color: #007BFF;
    color: white;
    padding: 4px;
    border: 1px solid #CED4DA;
}
